.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.nav-options {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
}

#logo {
  margin: 0 auto 0 0;
  font-size: 28px;
  font-weight: 700;

}

footer {
  margin-top: 16px;
  text-align: center;
  font-weight: 700;
  color: brown;
}

.home-container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}
.home-description{
  display: flex;
  gap: 8px;
  flex-direction: column;
  text-align: center;
}

.form-group{
  margin-top: 24px;
}

.home-description h3{
  font-size: 24px;
}

.list-brainrots {
  display: grid;
  width: 90%;
  gap: 16px;
  margin: 0 auto;
}

.list-brainrot-item {
  display: grid;
  grid-template-rows: 150px auto;
}

.list-brainrot-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.list-brain-btn{
  background: rgb(39, 39, 236);
  width: 100%;
  text-align: center;
  padding: 8px 0;
  border-style: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.list-brain-btn:hover{
  background: rgb(14, 14, 200);
  transform: scale(1.05);
  color: white;
}


.list-brainrot-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  
}
.list-brainrot-origin{
  display: inline-block;
  color: white;
  background-color: rgb(136, 135, 135);
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0 auto 0 0;
  width: auto;
  font-size: 14px;
}

.stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start;
  row-gap: 16px;
}

.stats-section{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.stats-section h4{
  font-size: 24px;
  font-weight: 700;
}

.stats-list{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stats-list li{
  display: inline-block;
  color: white;
  background-color: rgb(136, 135, 135);
  padding: 4px 8px;
  border-radius: 8px;
  width: auto;
  font-size: 14px;
}
.stats-title{
  font-size: 32px;
}

.notfound-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
  margin: 0 auto;
}

.notfound-container img{
  width: 100%;
  border-radius: 16px;
}

.notfound-container button{
  background-color: rgb(14, 14, 200);
  color: white;
  cursor: pointer;
}

.notfound-container button:hover{
  background: rgb(8, 8, 148);
  transform: scale(1.1);
  color: white;
}

@media (min-width: 768px) {
  .notfound-container{
    max-width: 900px;
  }
  .notfound-container button{
    align-self: center;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;
  }
  

  .stats-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto 1fr;
    gap: 16px;
    align-items: start;
  }

  .stats-title{
    grid-column: span 3;
  }
  .home-header {
    flex-direction: row;
  }

  .list-brainrots {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-description{
    text-align: left;
  }

}